@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
     

}
/*Configurações da tabela*/


/*Configurações da tabela*/



/*Configurações do  Painel de apresentação */

.NomeSistema{
    font-size: 1.5em;
}

#PUser{
    position: absolute;
    top: 25%;
    left: 85%;
    text-align: center;
    font-size: 1em;
   
}

#ImgUser{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25%;
    left: 95%;

}

.NomeUser{
   
}


.NavBotoes{
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: rgb(26,32,40);
}

.linkNav{
    text-decoration: none;
    display: block;
    color: white;
    height: 50px;
    font-size: 1.3em;  
    padding: 5px;
   
}

.TimeNav{
    padding: 10px;
    color: white;
    font-size: 1.3em; 

}

.Painel{
    display: block;
    margin-left: 5px;
    padding: 2.5px;
    text-decoration: none;
    color:rgb(26,32,40) ;

}

#NavIconCalendary{
    color: white;
    font-size: 3em; 
    text-align: center; 

}




#NavIcon1{
    padding: 5px;  
}

#NavIcon2{
    padding: 5px;    
}

#NavIcon3{
    padding: 5px;
}

#NavIcon4{
    padding: 5px;   
}

#NavIcon5{
    padding: 5px;  
}

#NavIcon6{
    padding: 5px;   
}

.linkNav:hover{
    background-color: rgba(0, 80, 200, 0.199);
    color: white;
}

header>p{
    padding: 10px;

}

header{
    position: fixed;
    margin-left: 200px;
    color: black;
    font-size: 1.2em;
    width: 85.3vw;
    height: 80px;
    font-family: cursive;
   box-shadow: 1px 1px 1px 2px #002141;
}

.TituloUsuario{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
   
    font-weight: bold;
    color: white;
   margin-bottom: 20px;
}



.linhaHorizontal{
    color: white;
    font-weight: bolder;
    margin-bottom: 15px;
}

.HoraSistema{
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}


.articleConteudos{

    padding: 100px;
    margin-left: 225px;
    background-color: white;
    width: 1120px;
    height: 100vh;
    
   
  
  }

  #CadMesa{
    margin-left: 20px;
    margin-top: 2%;
    margin-bottom: 20%;
    width: 110px;
    padding: 5px;
  }


  /*Config Tela Login*/

  .bodyLogin{
    background-color: rgb(26,32,40);
  }

  .formularioLogin{
    margin: auto;
    width:500px;
    height:100vh;
    background-color: rgb(26,32,40);

}


.caixaInput{
    background-color: #161b22;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    border-radius: 10px;
    height: 250px;
    padding: 10px;
  
}

.CaixaLink{
    margin-top: 25px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    padding: 10px;
    border-radius: 10px;

}


.TituloLogin{
    padding: 15px;
  text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
   
}

.labellogin{
    margin-left: 30px;
    padding: 5px;
    color: white;

    

}
.inputLogin{
    color: white;
    border-radius: 0 5px 5px 0;
    margin-left: 54px;
    width: 400px;
    padding: 5px;
    background-color: rgb(26,32,40);
    border: 1px solid rgba(255, 255, 255, 0.233);
    outline: none;
 
   

}
.botaoIniciarsessao{
    color: white;
    margin-top:10px ;
    margin-left: 20px;
    width: 435px;
    padding: 5px;
    border-radius: 5px;
    background-color:#0454a0;
    font-size: 1.2em;
    font-weight: bolder;
    outline: none;
    border: none;
    transition: 0.5s;
  
      
    
}
.botaoIniciarsessao:hover{
    background-color: #0084ff5d;
    
   
}
.botaoIniciarsessao:active{
    background-color: rgba(0, 128, 0, 0.479);
   
}
.linkcadastrar{
    transition: 0.5s;
    color:#0454a0;
    text-align: center;
    display: block;
    text-decoration: none;
   
    

}
.linkcadastrar:hover{
    text-decoration: underline;
    color: #359cf4;
}
.linkcadastrar:active{
   color: rgba(228, 19, 19, 0.904);
   

}


#loginIcon1{
    color: white;
    margin-left: 20px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.233);
    padding: 9px;
    border-radius: 5px 0px 0px 5px;
  
   
  
}
#loginIcon2{
    color: white;
    margin-left: 20px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.233);
    padding: 9px;
    border-radius: 5px 0px 0px 5px;

   
}
.SGLINFOR{
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 1.2em
}



  /*Config do Modal das opções */

  
.modal1{
    backdrop-filter: blur(10px);
    background-color:rgb(255, 255, 255);
    height: 90px;
    width: 190px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.055);
}

.janela-modal{

    display: none;
    background-color: rgba(253, 245, 245, 0.075);
    height: 250px;
  
}

.janela-modal.abrir{
    display: flex;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0,0);
    }
}

.abrir .modal1{
    animation:abrirmodal 1.5s ;

}

/*Confiig das estatisticas*/

.articleEstatistica{
    background-color: rgb(26,32,40);
    color: white;
    width: 250px;
    height: 120px;
    margin-left: 50px;
    display: inline-block;
    margin-top: 50px;
    box-shadow: 5px 0px 0px 0px rgba(0, 80, 200, 0.404);
    border-radius: 10px;
    transition: 1s;
    
   
}

#EstatisticaMaterial{
    background-color: rgb(26,32,40);
    color: white;
    width: 250px;
    box-shadow: 5px 0px 0px 0px rgb(65,141,212);
    

}

#EstatisticaUsuarios{
    background-color: rgb(26,32,40);
    color: white;
    width: 250px;
    box-shadow: 5px 0px 0px 0px rgb(65,141,212);
    


}


#EstatisticaMauEstado{
    background-color: rgb(26,32,40);
    color: white;
    width: 250px;
    box-shadow: 5px 0px 0px 0px rgb(245, 0, 55);

}

#EstatisticaBomEstado{
    background-color: rgb(26,32,40);
    color: white;
    width: 250px;
    box-shadow: 5px 0px 0px 0px rgb(0, 211, 0);

}

#EstatisticaMarcas{
    background-color: rgb(26,32,40);
    color: white;
    width: 250px;
    box-shadow: 5px 0px 0px 0px rgb(0, 211, 0);

}

#EstatisticaMesas{
    background-color: rgb(26,32,40);
    color: white;
    width: 250px;
    box-shadow: 5px 0px 0px 0px rgb(245, 0, 55);
}








/*Titulo da caixa com informações*/
.Titulo{
    font-weight: lighter;
    text-align: center;
    padding: 10px;

}


/*Quantidade númerica de cada equipamento*/
.Quantidade{
    padding: 10px;
    padding-left: 50px;
    text-align: left;
    color: white;
}


.dataEstatistica{
    margin-top: 25px;
    font-size: 1.5em;
}

#IconBom{
    color: rgb(0, 211, 0);
    float:right;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 3em;
}

#IconMau{
    color:rgb(245, 0, 55);
    float:right;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 3em;

}

#IconUsers{
    color: rgb(65,141,212);
    float:right;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 3em;


}

#IconMaterial{
    color: rgb(65,141,212);
    float:right;
    padding-top: 50px;
    padding-right: 20px;
    font-size: 3em;
}

#IconMarcas{
    color: rgb(0, 211, 0);
    float:right;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 3em;
}

#IconMesas{
    color:rgb(245, 0, 55);
    float:right;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 3em;
}


/*Tela Protect*/




/*Acerca do sistema*/

#ImagemAbout{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    float: right;
   
}

/*PaginaInicial*/

.articlePaginaInicial{
    
}



/*Pagina Protect*/








